# Mac
.DS_Store

# VSCode
/.vscode

# Python
__pycache__

# data
/data/densepose
/data/human_mat
/data/input
/data/render
/data/smpl_mask
/data/smpl_texture
/data/smpl_texture_inpaint
/data/trained_model

# Latex
/DHumanReport
/report/acmart.cls
/report/acmart.log
/report/out
