torch
torchvision
warp-lang
av
opencv-python-headless
accelerate
transformers
ftfy
bitsandbytes
deepspeed
diffusers
detectron2/
UVTextureConverter @ git+https://github.com/kuboshizuma/UVTextureConverter@master
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d@main
